@model IEnumerable<OnBoarding.Models.OBDTAspectoConductual>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wills</h2>

<p>
    @Html.ActionLink("Crear nuevo will", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoAspectoConductual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAspectoConductual)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.OBDTObjetivoAprendizaje.NombreObjetivoAprendizaje)
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoAspectoConductual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAspectoConductual)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.OBDTObjetivoAprendizaje.NombreObjetivoAprendizaje)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdAspectoConductual }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdAspectoConductual }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdAspectoConductual })
        </td>
    </tr>
}

</table>
